<h1>Tasks</h1>
<h2><%= @task.title %></h2>

<%= link_to "Edit Task", edit_task_path %>
<p><%= @task.details  %></p>
<% if @task.completed %>
  <%= check_box_tag "completed", 1, @task.completed %>  
  <p>This task has been completed</p>
<% else %>
  <%= check_box_tag "completed", 1, @task.completed %>  
  <p>This task has not been completed</p>
<% end %>

<%= link_to "Back to Tasks", tasks_path %>
